@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #f0f0f0;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #2c3e50, #4ca1af);
}

.conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1); /* Fundo semi-transparente */
    backdrop-filter: blur(10px); /* Desfoque do fundo */
    padding: 20px;
    border-radius: 10px 10px 0 0;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.2);
}

.icone {
    width: 150px; /* Defina a largura do container */
    height: 150px; /* Defina a altura do container */
    border: 5px solid rgb(11, 86, 155); /* Adiciona uma borda */
    border-radius: 50%; /* Faz o container ser circular */
    overflow: hidden; /* Garante que a imagem não saia do container */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

#perfil {
    
    object-fit: cover; /* Garante que a imagem preencha o container sem distorcer */
    border-radius: 50%; /* Faz a imagem ser circular */
}


.nome{
    margin-top: 50px;
}

.links{
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 50px;
}


.linkGithubProjetos{
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    padding-left: 100px;
    gap: 80px;
}

.gitHub{
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}

.gitHub p{
    font-weight: 100;
    width: 300px;
    text-align: start;
}

a{
    text-decoration: none;
}
.projetos p{
    font-weight: 100;
    width: 300px;
    text-align: start;
}

.projetos{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.conteudoTasks{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1); /* Fundo semi-transparente */
    backdrop-filter: blur(10px); /* Desfoque do fundo */
    padding: 20px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.tasks{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
    font-size:15px;
}

.html{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.css{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
} 

.javascript{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

} 

.node{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

} 
.react{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.sql{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.git i{
    font-size: 25px;
}











